<style>
    input.doc {
        padding-top:15px;
        margin-top:5px;
    }
</style>

@{
    var buttonWidth = "150px";
}

<p>To verify your business’s annual turnover, please upload  <b>ONE</b> of the documents below:</p>

<div class="row">
    <div class="col-xl-10">
        <label class="radio radio-outline radio-primary">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input
            type="radio"
            name="input-turnover-doc"
            value="636ceee492132bfc0d1be4fd"
        />
        <span></span>
            Accountant letter confirming your annual turnover
        </label>
        <br/>

        <label class="radio radio-outline radio-primary">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input
            type="radio"
            name="input-turnover-doc"
            value="60549c63a2b3b4fb7c24bb34"
        />
        <span></span>
            CIPC annual return​
        </label>
        <br/>

        <label class="radio radio-outline radio-primary">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input
            type="radio"
            name="input-turnover-doc"
            value="6493f45eee8e7c3bf8296f72"
        />
        <span></span>
            Income Statement
        </label>
        <br/>

        <label class="radio radio-outline radio-primary">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input
            type="radio"
            name="input-turnover-doc"
            value="636cef454f884efe0064204c"
        />
        <span></span>
            Latest VAT return​
        </label>
        <br/>

        <label class="radio radio-outline radio-primary">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input
            type="radio"
            name="input-turnover-doc"
            value="5ab0cdfc3efed814143695a0"
        />
        <span></span>
            Latest Management Accounts
        </label>
        <br/>

        <label class="radio radio-outline radio-primary">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input
            type="radio"
            name="input-turnover-doc"
            value="5ab0cded3efed8141436959f"
        />
        <span></span>
            Latest Annual Financial Statements
        </label>
        <br/>

        <label class="radio radio-outline radio-primary">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input
            type="radio"
            name="input-turnover-doc"
            value="646dbef73b827468047280b5"
        />
        <span></span>
            Trial Balance
        </label>
        <br/>

    </div>
    <div class="col-xl-2">
        <button
            id="button-doc-a"
            name="button-doc-a"
            data-guid=""
            type="button"
            style="width:@buttonWidth;"
            class="btn btn-sm btn-outline-primary">
                <b class="fa fa-upload"></b>
                <span id="span-doc-a">Click here to upload your doc</span>
        </button>
    </div>
</div>
