<div class="login-aside d-flex flex-column flex-row-auto" style="background-color: #209fd6;">
    <img class="flange-right" src="~/custom/images/right-flange.png">
    <!--begin::Aside Top-->
    <div class="d-flex flex-column-auto flex-column pt-lg-40 pt-15">
        <!--begin::Aside header-->
        <!--end::Aside header-->
        <!--begin::Aside title-->
        <a href="https://finfind.co.za" target="_blank">
            <h3 class="font-weight-bolder text-center font-size-h4 font-size-h1-lg" style="color: #ffffff;">
                Do you need <br> business finance?
            </h3>
        </a>
        <!--end::Aside title-->
    </div>
    <!--end::Aside Top-->
    <!--begin::Aside Bottom-->
    <a href="https://finfind.co.za" target="_blank">
        <img class="hero-man" src="~/custom/images/home_man_hero.png">
    </a>
    <!--end::Aside Bottom-->
</div>
