

 
<!--begin::Aside-->
<div class="login-aside d-flex flex-column flex-row-auto">
    <img src="~/view-resources/Views/Account//images/asides/sefa.png" usemap="#image-map" />
        <map name="image-map">
            <area
          target="_blank"
          alt="Accessible Development Finance"
          title="Accessible Development Finance"
          href="https://www.sefa.org.za/"
          coords="267,309,538,467"
          shape="rect"
        />
        </map>
</div>

<!--begin::Aside-->
@*<div class="login-aside d-flex flex-column flex-row-auto" style="background-color: #5a5454;">
    <a href="http://sefa.org.za" target="_blank">
        <img class="flange-right" src="~/custom/images/sefa-aside.png">
    </a>
</div>  *@
<!--begin::Aside-->