 
<!--begin::Aside-->
<div class="login-aside d-flex flex-column flex-row-auto">
    <img src="~/view-resources/Views/Account/images/asides/wesgro.png" usemap="#image-map" />
        <map name="image-map">
            <area
          target="_blank"
          alt="Cape Town and the Western Cape"
          title="Cape Town and the Western Cape"
          href=" https://www.wesgro.co.za/"
          coords="126,596,433,752"
          shape="rect"
        />
        </map>
</div>