@using SME.Portal.Web.Areas.App.Startup
@using SME.Portal.Web.Areas.App.Models.SME;
@using System.Globalization
@using System.Web;
@using Abp.Runtime.Security;
@using SME.Portal.Web.Areas.App.Models.Common.ListItems;
@using SME.Portal.Web.Areas.App.Models.FSS;

@model SMEOnboardingSummary;

@section Scripts
{
    <link href="~/custom/js/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <script src="~/custom/js/sweetalert2/sweetalert2.js"></script>

    @{
        await Html.RenderPartialAsync(
            "../Common/_ListItemsPartial.cshtml",
            new ListItemsViewModel()
            {
                ListItems = Model.ListItems,
                Tenant = "finfind"
            }
        );
    }

    <environment include="Development">
        <script src="~/view-resources/Areas/App/Views/Application/Common/sic-codes.js" asp-append-version="true"></script>
        <script src="~/view-resources/areas/app/views/Common/sme-common.js" asp-append-version="true"></script>

        <script src="~/view-resources/Areas/App/Views/SefaSme/helpers.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/BasicScreening/Common/service-api.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/BasicScreening/Finfind/onboarding-migration.js" asp-append-version="true"></script>

        <script src="~/view-resources/Areas/App/Views/BasicScreening/Common/UserProfile/summary.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/BasicScreening/Common/OwnerProfile/summary.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/BasicScreening/Common/CompanyProfile/summary.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/BasicScreening/Finfind/CompanyProfile/summary.js" asp-append-version="true"></script>
        </environment>

    <environment include="Production, Staging">
        <script src="~/view-resources/Areas/App/Views/Application/Common/sic-codes.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/areas/app/views/Common/sme-common.min.js" asp-append-version="true"></script>

        <script src="~/view-resources/Areas/App/Views/SefaSme/helpers.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/BasicScreening/Common/service-api.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/BasicScreening/Finfind/onboarding-migration.min.js" asp-append-version="true"></script>

        <script src="~/view-resources/Areas/App/Views/BasicScreening/Common/UserProfile/summary.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/BasicScreening/Common/OwnerProfile/summary.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/BasicScreening/Common/CompanyProfile/summary.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/BasicScreening/Finfind/CompanyProfile/summary.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        $(document).ready(function () {
            app.common.sic.create(null);
            KTApp.blockPage({
                overlayColor: 'blue',
                opacity: 0.1,
                state: 'primary',
                message: 'Migrating data to new Finfind baseline'
            });
            app.baselineMigration.doMigration(() => {
                KTApp.unblockPage();
                location.href='@Url.Action("Onboarding", "SME")';
            });
        });
    </script>

}

<div class="content d-flex flex-column flex-column-fluid">
</div>
