@using SME.Portal.Authorization
@using SME.Portal.Web.Areas.App.Models.FinanceProducts
@using SME.Portal.Web.Areas.App.Startup
@model ManageFinanceProductViewModel

<form id="stepCommentForm">
    <div class="step" id="stepComment">
        <h3>Comment</h3>
        <div class="card card-info mb-10">
            <div class="card-body">
                <div class="row">
                    <div class="col-1 card-icon">
                        <i class="fa fa-info-circle"></i>
                    </div>
                    <div class="col">
                        Please enter your comment for this specific financial product.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row" style="padding-left:18px">
            <div class="form-group row">
                <div class="col-md-12">
                    <textarea id="FinanceProduct_Comment" name="Text" rows="10" placeholder="Enter your comment for this specific finance product."></textarea>
                    <input type="hidden" name="UserId" value="@AbpSession.UserId" />
                </div>
                <form asp-controller="FinanceProducts">
                    <div class="col-md-12 col-sm-12" id="commentList">
                            <partial name="../../FinanceProducts/_CommentsList.cshtml" model="@Model"></partial>
                        </div>
                </form>
            </div>
        </div>
    </div>
</form>
