@using SME.Portal.Authorization
@using SME.Portal.Web.Areas.App.Models.FinanceProducts
@using SME.Portal.Web.Areas.App.Startup
@model ManageFinanceProductViewModel

<form id="stepSummaryPageForm">
    <div class="step" id="stepSummaryPage">
        <h3>Summary</h3>
        <div class="card card-info mb-10">
            <div class="card-body">
                <div class="row">
                    <div class="col-1 card-icon">
                        <i class="fa fa-info-circle"></i>
                    </div>
                    <div class="col">
                        Please enter your summary for this specific financial product.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row" style="padding-left:18px">
            <div class="form-group row">
                <div class="col-md-12" style="display: flex; align-items: baseline; gap:3%;">
                    <label asp-for="@Model.FinanceProduct.Summary">Summary</label>
                    <a href=@("https://www.finfind.co.za/funder/"+Model.FinanceProduct.Id) target="_blank">View Summary</a>
                </div>
                <div class="col-md-12">
                    <textarea id="FinanceProduct_Summary" name="Text" asp-for="@Model.FinanceProduct.Summary" rows="10"></textarea>
                </div>
            </div>
        </div>
    </div>
</form>
