@* ---------------Finance For Loan Amount -----------------*@
<div class="form-group">
    <label class="font-weight-bold text-dark" for="loan-amount">@L("AmountOfFundingNeeded")</label>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">R</span>
        </div>
        <input autocomplete="off" id="loanamount" name="loanamount" type="text" class="form-control" aria-label="loan-amount">
    </div>
    <span class="form-text text-muted"></span>
</div>
