<div class="modal fade" id="exampleModalCustomScrollable" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Example of the details in a Funder Match </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <h5><strong>Funder Product - Term Loan</strong></h5>

                <div id="exampleModalCustomScrollable-text" data-scroll="true" data-height="500">
                    <div class="row" style="min-height: 500px;">
                        <div class="col-12 learn-content-section pl-4 pt-3">
                            <div class="pt-4">
                                <p style="text-align: justify; border: none; margin-right: 0px !important; margin-bottom: 15px !important; margin-left: 0px !important; line-height: 1.45em !important; box-shadow: none !important; background-image: none !important; background-position: initial initial !important; background-repeat: initial initial !important;">This example is of a lender that offers business loans of up to R3m.</p>
                                <p style="text-align: justify; border: none; margin-right: 0px !important; margin-bottom: 15px !important; margin-left: 0px !important; line-height: 1.45em !important; box-shadow: none !important; background-image: none !important; background-position: initial initial !important; background-repeat: initial initial !important;">Their loans are initially structured over a 12-month period, but they can also structure them over a shorter period.</p>
                                <p style="text-align: justify; border: none; margin-right: 0px !important; margin-bottom: 15px !important; margin-left: 0px !important; line-height: 1.45em !important; box-shadow: none !important; background-image: none !important; background-position: initial initial !important; background-repeat: initial initial !important;"><em>The short-term loan finance can be used:</em></p>
                                <ul style="list-style-type: disc !important; border: none; margin-right: 0px !important; margin-bottom: 15px !important; margin-left: 0px !important; line-height: 1.45em !important; box-shadow: none !important; background-image: none !important; background-position: initial !important; background-size: initial !important; background-repeat: initial !important; background-attachment: initial !important; background-origin: initial !important; background-clip: initial !important; padding-left: 2em !important; ">
                                    <li style="text-align: justify; ">To finance short-term or seasonal working capital requirements.</li>
                                    <li style="text-align: justify; ">To restructure debt and reduce funding costs.</li>
                                    <li style="text-align: justify; ">To access cash flow to address short-term business obstacles.</li>
                                    <li style="text-align: justify; ">To bridge the gap between customer orders and supplier payments.</li>
                                    <li style="text-align: justify; ">To access discounts for early settlement.</li>
                                    <li style="text-align: justify; ">To unlock cash flow tied up in a property transaction.</li>
                                    <li style="text-align: justify; ">To access cash against underlying security.</li>
                                </ul>

                                <p style="text-align: justify; border: none; margin-right: 0px !important; margin-bottom: 15px !important; margin-left: 0px !important; line-height: 1.45em !important; box-shadow: none !important; background-image: none !important; background-position: initial initial !important; background-repeat: initial initial !important;"><strong>Eligibility criteria</strong></p>
                                <ul style="list-style-type: disc !important; border: none; margin-right: 0px !important; margin-bottom: 15px !important; margin-left: 0px !important; line-height: 1.45em !important; box-shadow: none !important; background-image: none !important; background-position: initial !important; background-size: initial !important; background-repeat: initial !important; background-attachment: initial !important; background-origin: initial !important; background-clip: initial !important; padding-left: 2em !important;">
                                    <li style="text-align: justify; ">You require funding between R100 000 and R3m.</li>
                                    <li style="text-align: justify; ">Your business has a turnover of R1m and above.</li>
                                    <li style="text-align: justify; ">Your business has been in operation for at least 12 months.</li>
                                    <li style="text-align: justify; ">You are able to submit 12 months of bank statements.</li>
                                    <li style="text-align: justify; ">You are able to submit 12 months' budgeting (incl cashflow projections).</li>
                                    <li style="text-align: justify; ">You are able to submit annual financial statements.</li>
                                    <li style="text-align: justify; ">You are able to submit management accounts.</li>
                                </ul>

                                <div class="lender-about-spacer">
                                    <h3>About this funding option</h3>
                                    <table class="table table-striped mt-4">
                                        <tbody>
                                            <tr>
                                                <td>Funding limits</td>
                                                <td>
                                                    <div>
                                                        Minimum:
                                                        R100&nbsp;000,00
                                                    </div>
                                                    <div>
                                                        Maximum:
                                                        R3&nbsp;000&nbsp;000,00
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Your annual turnover</td>
                                                <td>
                                                    <div>
                                                        Minimum:
                                                        R1&nbsp;000&nbsp;001,00
                                                    </div>
                                                    <div>
                                                        Maximum:
                                                        Information not provided
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Months in business</td>
                                                <td>
                                                    <div>
                                                        Minimum:
                                                        12
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="lender-about-spacer">
                                    <h3>What you need to provide</h3>
                                    <table class="table table-striped mt-4">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div>Company registration documents</div>
                                                </td>
                                                <td>
                                                    <i class="icon-1x text-dark-50 ki ki-bold-check"></i>
                                                </td>
                                                <td>
                                                    <div>Certified copies of owners IDs</div>
                                                </td>
                                                <td>
                                                    <i class="icon-1x text-dark-50 ki ki-bold-check"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div>Proof of business address</div>
                                                </td>
                                                <td>
                                                    <i class="icon-1x text-dark-50 ki ki-bold-check"></i>
                                                </td>
                                                <td>
                                                    <div>Bank statements</div>
                                                </td>
                                                <td>
                                                    <i class="icon-1x text-dark-50 ki ki-bold-check"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div>12 months' budgeting (incl cashflow projections)</div>
                                                </td>
                                                <td>
                                                    <i class="icon-1x text-dark-50 ki ki-bold-check"></i>
                                                </td>
                                                <td>
                                                    <div>Business plan</div>
                                                </td>
                                                <td>
                                                    <i class="icon-1x text-dark-50 ki ki-bold-check"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div>Tax clearance certificate</div>
                                                </td>
                                                <td>
                                                    <i class="icon-1x text-dark-50 ki ki-bold-check"></i>
                                                </td>
                                                <td>
                                                    <div>Management accounts</div>
                                                </td>
                                                <td>
                                                    <i class="icon-1x text-dark-50 ki ki-bold-check"></i>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div>Annual financial statements</div>
                                                </td>
                                                <td>
                                                    <i class="icon-1x text-dark-50 ki ki-bold-check"></i>
                                                </td>
                                                <td>
                                                    <div>Statement of assets and liabilities (for all owners)</div>
                                                </td>
                                                <td>
                                                    <i class="icon-1x text-dark-50 ki ki-bold-check"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="lender-about-spacer">
                                    <h3>Contact details</h3>
                                    <table class="table mt-4 table-borderless">
                                        <tbody>
                                            <tr>
                                                <td class="cell-div">Website</td>
                                                <td>
                                                    <div>
                                                        Funder Website
                                                    </div>
                                                </td>
                                                <td class="cell-div">Email</td>
                                                <td>
                                                    <div>
                                                        Funder Email
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="cell-div">Phone</td>
                                                <td>
                                                    <div>
                                                        Funder Phone
                                                    </div>
                                                </td>

                                                <td class="cell-div">FSP Number</td>
                                                <td>
                                                    <div>
                                                        Funder FSP Number
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="cell-div" style="vertical-align: top">Address</td>
                                                <td>
                                                    <div>
                                                        Funder Address<br>
                                                    </div>
                                                </td>

                                                <td class="cell-div">NCR Number</td>
                                                <td>
                                                    <div>
                                                        Funder NCR Number
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>