<h3 class="mb-10 font-weight-bold text-dark">Welcome</h3>
    <div id="id-landing-info-message-div">
        <div class="alert alert-custom alert-outline-primary fade show mb-5" role="alert">
            <div class="row">
                <div class="col-xl-1">
                    <div class="alert-icon"><i class="flaticon-information"></i></div>
                </div>
                <div class="col-xl-7">
                    <div class="alert-text">
                        <p>
                            For us to help you find the perfect funder and funding product, we need to know more about who you are.
                            On the next few pages, we’ll need you to tell us who you are, who the business owner is (if you’re not the owner)
                            and a little more about the company you’re looking for funding for.
                        </p>
                    </div>
                </div>
                <div class="col-xl-4">
                    <button id="id-landing-info-message-button"
                            class="btn btn-outline-primary btn-sm mr-6"
                            type="button">
                        <i class="flaticon-edit"></i>
                        Click User Profile to get started
                    </button>
                </div>
            </div>
        </div>
    </div>


