@using SME.Portal.Web.Areas.App.Models.FSS;

@model FSSViewModel

@{
    var colXL = Model.StyleCol;
    var styleWidth = Model.StyleWidth;
    var appId = Model.ApplicationId;
    var tenantId = Model.TenantId;
    var color = Model.HeaderColor;
}

<h4 style="color:#099ba0 !important; font-size:large;" class="font-weight-bold mb-3">Financial Info Needed for Lender</h4>
<div class="card">
    <div class="table-responsive">
        <table class="table table-sm table-hover">
            <tbody id="tbody-financial-info-summary-@appId">
            </tbody>
        </table>
    </div>
</div>
<br />
