@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using SME.Portal.Web.Areas.App.Models.FinanceProducts
@using SME.Portal.List

@{
    Layout = "~/Areas/App/Views/Layout/_LayoutFundForms.cshtml";
}

<div class="content d-flex flex-column flex-column-fluid">
    <div class="container">
        <div class="row page-content">
            <div class="col-md-12 col-sm-12">
                <div>
                    <div class="" id="stepFinished">
                        <div class="card card-info">
                            <div class="card-body d-flex flex-column justify-content-center" style="min-height: 200px">
                                <div class="row">
                                    
                                    <div class="col">
                                        <h3 style="text-align: center">
                                            <span class="col-1 card-icon">
                                                <i class="fa fa-exclamation"></i>
                                            </span>Invalid Fund Form, Please contact FinFind support Team.
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
