@using SME.Portal.Web.Areas.App.Models.FunderSearch;
@model CreateEditFunderSearchViewModel

<div class="form-group">
    <label for="application-ref-no"><b> Application Ref# @Model.Application.Application.Id </b></label>
</div>
