@using SME.Portal.Web.Areas.App.Models.FSS;

@model FSSViewModel

@{
    var colXL = Model.StyleCol;
    var styleWidth = Model.StyleWidth;
    var appId = Model.ApplicationId;
    var tenantId = Model.TenantId;

}

<h4 style="color:green; font-size:large;" class="font-weight-bold mb-3">Supporting Documents for Application</h4>
<div class="card">
    <div class="table-responsive">
        <table class="table table-sm table-hover">
            <tbody id="tbody-documents-@appId">

            </tbody>
        </table>
    </div>
</div>
<br />
