<div class="pb-5" data-wizard-type="step-content" id="div-disclaimer">

    <h3 style="font-size:large;" class="mb-10 font-weight-bold text-dark"></h3>

    @{ await Html.RenderPartialAsync("../../Common/Intro/page.cshtml"); }

    <div class="alert alert-custom alert-outline-primary fade show mb-5" role="alert" style="margin-left:0px;">
        <div class="row">
            <div class="col-xl-12">
                <div class="alert-text" style="color:black;">
                    <p><h3 style="font-weight:bold;">Welcome to Finfind</h3></p>
    
                    <p>On the screens to follow you will be asked to answer questions to assist us to verify your business details and to gather the information needed to match you with the most appropriate lender to ensure you can secure funding.</p>
    
                    <p style="font-weight:bold;"><u>There are 4 easy steps to get you matched to the right lender/s:</u></p>
    
                    <p><span style="font-weight:bold;">Step 1 - Registration</span> (you have already completed this step)</p>
    
                    <p><span style="font-weight:bold; color:#3699FF;">Step 2 - Onboarding (you are starting this step)</span><br />
                        Answer simple questions about who is completing this request, about the owner and the business for verification purposes
                    </p>
    
                    <p><span style="font-weight:bold;">Step 3 - Funding Request</span><br />
                        Provide information about how much finance you need, what it is needed for, your turnover, how long you have been in business, business financial information and proof of income
                    </p>
    
                    <p><span style="font-weight:bold;">Step 4 - Lender Matching</span><br />
                        This is the final screen with details of the lender/s and the specific funding options that match your exact needs​
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
