@using SME.Portal.Web.Areas.App.Startup
@using SME.Portal.Web.Areas.App.Models.SefaDocuments;

@model SmeDocumentsManageVm

@{
    ViewBag.CurrentPageName = AppPageNames.Sme.MyDocuments;
}

@section Styles
{
    <link href="~/custom/plugins/dropzonejs/basic.css" rel="stylesheet" />
    <link href="~/custom/plugins/dropzonejs/dropzone.css" rel="stylesheet" />
}

@section Scripts
{

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
    <link href="~/metronic/themes/default/css/pages/wizard/wizard-2.css" rel="stylesheet" />
    <link href="~/custom/js/sweetalert2/sweetalert2.css" rel="stylesheet" />

    <script src="~/custom/plugins/dropzonejs/dropzone.js"></script>
    <script>
        Dropzone.autoDiscover = true;
    </script>

    <script src="~/view-resources/areas/app/views/sme/formvalidation.js"></script>
    <script src="~/view-resources/areas/app/views/sme/bootstrap.js"></script>
    <script src="/custom/js/sweetalert2/sweetalert2.js"></script>

    <script src="~/view-resources/Areas/App/Views/SefaDocuments/DropZoneInit.js"></script>

    <script>
        $(document).ready(function () {
            $('#id-div-manage').show();
        });
    </script>
}


<div id="id-div-manage" style="display:none;">
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">

        <div>
            <br />
        </div>

        <div class="@(await GetContainerClass())">

            @if (!string.IsNullOrEmpty(Model.UserMessage))
            {
                <div class="alert alert-custom alert-success" role="alert">
                    <div class="alert-icon">
                        <i class="flaticon-info"></i>
                    </div>
                    <div class="alert-text">@Model.UserMessage</div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="ki ki-close"></i>
                            </span>
                        </button>
                    </div>
                </div>
            }

            <div class="card card-custom">
                <div class="card-body p-0">
                    @Html.Hidden("SmeCompanyId", Model.CompanyId)


                    @foreach (var item in Model.DocumentUploadQuestions)
                    {
                        if (Model.Documents.Any(a => a.Document.Type == item.Id.ToString()))
                        {
                            await Html.RenderPartialAsync("_DisplayControl.cshtml", new DisplayControlVm() { DocumentQuestionListId = item.Id, DocumentQuestion = item.Name, SmeDocumentsManageVm = Model });
                        }
                        else
                        {
                            await Html.RenderPartialAsync("_UploadControl.cshtml", item);

                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<div id="id-alert" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h4 class="text-center">Uploaded Successfully.</h4>
                <br />
            </div>
            <div class="modal-footer">
                <button id="id-alert-button-ok" type="button" class="btn btn-primary font-weight-bold" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>