@using SME.Portal.Web.Areas.App.Models.FSS;

@model FSSViewModel

@* TODO: Summary color scheme should be global to all summaries. Too many instances of the same thing all over. *@

@{
    var colXL = Model.StyleCol;
    var styleWidth = Model.StyleWidth;
    var appId = Model.ApplicationId;
    var tenantId = Model.TenantId;
    var color = Model.HeaderColor;
}

<h4 style="color:@color !important;" class="font-weight-bold mb-3">@L("FS_CompanyProfile")</h4>
<div class="card">
    <div class="table-responsive">
        <table class="table table-sm table-hover">
            <tbody>
                @{
                    await Html.RenderPartialAsync("../../Common/CompanyProfile/summary.cshtml", Model);
                }
            </tbody>
        </table>
    </div>
</div>
<br />
