<div id="id-modal-waiting-" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <!--<div class="modal-header text-center">
                <h4 class="modal-title text-center">Loading Onboarding Data...</h4>
            </div>-->
            <div class="modal-body text-center">
                <h4 id="id-modal-waiting-header-" class="text-center">Loading Onboarding Data...</h4>
                <div id="id-modal-waiting-anim-"
                     class="spinner-border text-primary"
                     role="status" style="visibility:hidden;width:64px;height:64px;">
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
