@using SME.Portal.Web.Areas.App.Models.Common.Partial;

<div class="pb-5" data-wizard-type="step-content" id="div-company-profile">

    <h3 class="mb-10 font-weight-bold text-dark">Business Profile</h3>

    @{ await Html.RenderPartialAsync("../../Common/CompanyProfile/page.cshtml"); }

</div>
